.excel__table{
  position: absolute;
  overflow-x:auto;
  top: 102px;
  left: 0;
  right: 0;
  padding-bottom: 2px;


  .row{
    display: flex;
    height: $row-height;

  }

  .rowInfo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $infoCellWidth;
    border: $borderToolBar;
    background: #f8f9fa;
    height: 100%;
    border-top: none;


  }
  .rowData{
    display: flex;

  }

  .column{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: $infoCellWidth;
    width: $cell-width;
    border-right: $borderToolBar;
    border-bottom: $borderToolBar;
  }
  .cell{
    min-width: $infoCellWidth;
    width: $cell-width;
    padding: 5px;
    height: 100%;
    border-right: $borderTable;
    border-bottom: $borderTable;
    color: #111;
    white-space: nowrap;
    font-size: .8rem;
    outline: none;
    position: relative;
    z-index: 10;


    &.selected{
      border: none;
      outline: 2px #3c74ff solid;

    }
  }
  .colResize, .rowResize {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $primaryColor;
    opacity: 0;
    z-index: 6;

    &:hover, &:focus {
      opacity: 1!important;

    }
  }

  .colResize {
    top: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }

  .rowResize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}