@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
$roboto:'Roboto', sans-serif;
$headerHeIqht: 34px;
$toolBarHeight: 40px;
$formulaHeight: 24px;
$colorHover: #00d0ff;
$colorBorder: rgba(0, 0, 0, .7);
$borderToolBar: 1px solid lighten($colorBorder, 80%);
$infoCellWidth: 40px;
$row-height: 24px;
$cell-width: 120px;
$borderTable: 1px solid lighten($colorBorder, 90%);
$dbHeaderHeight: 40px;
$primaryColor: #3c74ff;
@mixin button($color: green){
  height: 34px;
  min-width: 24px;
  color: $colorBorder;
  line-height: 34px;
  margin: 0;
  & > span{
    font-size: 24px;
    margin: 0;

    &:active, &.active,&:hover{
      color: $color;
      cursor: pointer;
    }
  }
}

%clearList{
  list-style: none;
  margin: 0;
  padding: 0;
}